[Unit]
Description=application.service - A Flask application run with Gunicorn.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/flask-htmx-bootstrap/
ExecStart=/var/www/flask-htmx-bootstrap/venv/bin/gunicorn --workers 5 --bind unix:/var/www/flask-htmx-bootstrap/application.sock wsgi:app

[Install]
WantedBy=multi-user.target
