<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UUID</th>
        <th scope="col">Dangerous</th>
      </tr>
    </thead>
    <tbody>
    {% for index, number, is_dangerous in numbers %}
      <tr>
        <th scope="row">{{ index }}</th>
        <td><span class="font-monospace">{{ number }}</span></td>
        {% if is_dangerous %}
        <td><span class="badge bg-danger">YES</span></td>
        {% else %}
        <td><span class="badge bg-success">NO</span></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
