{% extends 'index.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Here you go!</h5>
                <p class="card-text">
                    These are your lucky UUIDs for today.
                    Please take the danger levels into account!
                </p>
                <a class="btn btn-primary" href="#uuids">Scroll down</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Generate new ones</h5>
                <p class="card-text">If you don't like them just generate new ones.</p>
                <a class="btn btn-primary"
                    href="{{ url_for('uuids') }}"
                    hx-get="/get-uuids"
                    hx-target="#uuids"
                    placeholder="Generating...">Generate new UUIDs</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col" id="uuids">
        {% include 'uuid-numbers.html' %}
        </div>
    </div>
</div>



{% endblock %}
